/* Normalize */

body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

p{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Core style */

body{
    
}