body {
  font-family: "Lato", sans-serif;
}

.logo__title {
  font-family: "Train One", sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

p, ul, h2 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}