.container {
  width: 100%;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  background: #FFFFFF;
  justify-content: center;
}

.container_header {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  z-index: 1;
  background: #FFFFFF;
  color: #3C3C3C;
  border-bottom: 1px solid #BDBDBD;
}

.about {
  padding: 230px 0 150px;
}

.footer {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3C3C3C;
  gap: 29px;
  font-weight: 700;
}