.header {
  max-width: 1170px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #282528;
  justify-content: flex-start;
}
.logo .logo__title {
  font-family: "Train One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  text-transform: uppercase;
}

.button__nav {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid #3C3C3C;
  justify-content: flex-end;
}

.menu__list {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.button__nav {
  background: #FFFFFF;
}

.block_about {
  background: #F6F6F6;
  color: #3C3C3C;
}
.block_about .about__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
}
.block_about .about__title::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 4px;
  background: #DDDBDB;
  right: 50%;
  transform: translateX(50%);
  bottom: 0;
}
.block_about .about__text {
  width: 100%;
  max-width: 570px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding-top: 40px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.cards {
  width: 100%;
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.cards .cards__item {
  flex-basis: 25%;
  gap: 30px;
  padding-bottom: 20px;
}
.cards .cards__item .cards__item__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #282528;
  display: block;
  padding-top: 20px;
}
.cards .cards__item .cards__item__position {
  color: #646464;
  font-weight: 300;
}

.cards__icon {
  width: 100%;
  max-width: 270px;
  height: 270px;
  background: #18B5DC;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.cards__icon .icon__twitter, .cards__icon .icon__facebook, .cards__icon .icon__instagram {
  width: 22px;
  height: 22px;
  padding: 9px;
  background: #5DCBE6;
}

.social__links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social__links .item__twitter, .social__links .item__facebook, .social__links .item__instagram, .social__links .item__linkedin, .social__links .item__telegram {
  width: 22px;
  height: 22px;
  padding: 9px;
  border: 1px solid #18B5DC;
}