body {
  font-family: "Lato", sans-serif;
}

/* train-one-regular - latin */
@font-face {
  font-family: "Train One";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Train One/train-one-v13-latin-regular.woff2") format("woff2"), url("../fonts/Train One/train-one-v13-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

p, ul, h2 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  background: #FFFFFF;
  color: #3C3C3C;
  border-bottom: 1px solid #BDBDBD;
}

.container_about {
  width: 100%;
  font-family: "Lato", sans-serif;
  background: #F6F6F6;
}

.container_footer {
  width: 100%;
  background: #FFFFFF;
  color: #3C3C3C;
}

.flex_row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header {
  width: 90%;
  max-width: 1170px;
  z-index: 1;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.footer {
  width: 90%;
  max-width: 1170px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: #3C3C3C;
  background: #FFFFFF;
  gap: 29px;
  font-weight: 700;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #282528;
  justify-content: flex-start;
}
.logo .logo__title {
  font-family: "Train One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  text-transform: uppercase;
}

.button__nav {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid #3C3C3C;
  justify-content: flex-end;
}

.menu__list {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.hamburger, .callback, .hamburger__footer {
  width: 34px;
  display: none;
}

.button__nav {
  background: #FFFFFF;
}

.block_about {
  padding: 150px 0 150px;
  width: 100%;
  max-width: 1170px;
  justify-content: center;
  color: #3C3C3C;
  margin: 0 auto;
}
.block_about .about__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.about__text {
  width: 100%;
  max-width: 570px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding-top: 40px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.cards {
  width: 100%;
  height: 333px;
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
  cursor: pointer;
}

.about__cards {
  background-color: transparent;
  margin-bottom: 50px;
}

.cards__item {
  position: relative;
  width: 270px;
  height: 100%;
  max-height: 270px;
  text-align: center;
  transition: transform 0.9s;
  transform-style: preserve-3d;
}

.about__cards:hover .cards__item {
  transform: rotateY(180deg);
}

.cards__item__img, .cards__item__icon {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cards__item__icon {
  background: #18B5DC;
  transform: rotateY(180deg);
}

.cards__text {
  width: 270px;
  height: 270px;
  padding-bottom: 20px;
}
.cards__text .cards__text__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #282528;
  display: block;
  padding-top: 20px;
}
.cards__text .cards__text__position {
  color: #646464;
  font-weight: 300;
}

.icons_block {
  display: flex;
  justify-content: center;
  margin: 114px auto;
  gap: 4px;
  position: relative;
}

.icon__twitter, .icon__facebook, .icon__instagram {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #5DCBE6;
  width: 22px;
  height: 22px;
  padding: 9px;
  transition: background-color 0.3s ease-in;
}

.icon__twitter {
  background-image: url(../img/twitter_white.svg);
}
.icon__twitter:hover {
  background-image: url(../img/twitter_blue.svg);
  background-color: #FFFFFF;
}

.icon__facebook {
  background-image: url(../img/facebook_white.svg);
}
.icon__facebook:hover {
  background-image: url(../img/facebook_blue.svg);
  background-color: #FFFFFF;
}

.icon__instagram {
  background-image: url(../img/instagram_white.svg);
}
.icon__instagram:hover {
  background-image: url(../img/instagram_blue.svg);
  background-color: #FFFFFF;
}

.item__twitter, .item__facebook, .item__instagram, .item__linkedin, .item__telegram {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFFFF;
  width: 22px;
  height: 22px;
  padding: 9px;
  transition: background-color 0.3s ease-in;
}

.item__twitter {
  background-image: url(../img/twitter_blue.svg);
}
.item__twitter:hover {
  background-image: url(../img/twitter_white.svg);
  background-color: #5DCBE6;
}

.item__facebook {
  background-image: url(../img/facebook_blue.svg);
}
.item__facebook:hover {
  background-image: url(../img/facebook_white.svg);
  background-color: #FFFFFF;
}

.item__instagram {
  background-image: url(../img/instagram_blue.svg);
}
.item__instagram:hover {
  background-image: url(../img/instagram_white.svg);
  background-color: #FFFFFF;
}

.item__linkedin {
  background-image: url(../img/linkedin_blue.svg);
}
.item__linkedin:hover {
  background-image: url(../img/linkedin_white.svg);
  background-color: #FFFFFF;
}

.item__telegram {
  background-image: url(../img/telegram_blue.svg);
}
.item__telegram:hover {
  background-image: url(../img/telegram_white.svg);
  background-color: #FFFFFF;
}

.social__links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social__links .item__twitter, .social__links .item__facebook, .social__links .item__instagram, .social__links .item__linkedin, .social__links .item__telegram {
  width: 22px;
  height: 22px;
  padding: 9px;
  border: 1px solid #18B5DC;
}

.list__item:hover {
  color: #18B5DC;
}

.button__nav:hover {
  color: #FFFFFF;
  background-color: #18B5DC;
  border-color: transparent;
}

.item__twitter:hover, .item__facebook:hover, .item__instagram:hover, .item__linkedin:hover, .item__telegram:hover {
  background-color: #18B5DC;
  width: 22px;
  height: 22px;
  padding: 9px;
}

@media screen and (max-width: 1366px) {
  .nav_menu {
    display: none;
  }

  .hamburger {
    display: block;
    margin-left: auto;
  }

  .hamburger__footer {
    margin: auto;
  }

  .button {
    margin-left: 30px;
  }

  .block_about {
    height: 130vh;
    padding: 150px 0 80px;
  }

  .cards {
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-size: auto 100%;
    background-position: top center;
    background-attachment: fixed;
  }

  .cards__item {
    width: 100%;
    max-width: 270px;
    height: 100%;
    max-height: 270px;
  }
}
@media screen and (max-width: 768px) {
  .button__nav {
    display: none;
  }

  .callback {
    display: block;
  }

  .block_about {
    height: 140vh;
    padding: 80px 0 10px;
  }

  .cards {
    width: 95%;
    height: 270px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cards__item {
    width: 100%;
    max-width: 270px;
    height: 100%;
    max-height: 270px;
  }
}
@media screen and (max-width: 599px) {
  .block_about {
    height: 245vh;
    padding: 80px 0 10px;
  }
}
@media screen and (max-width: 420px) {
  .button__nav, .logo__title, .hamburger__footer {
    display: none;
  }

  .footer__title {
    display: block;
  }

  .cards {
    width: 100%;
    height: 270px;
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .block_about {
    padding: 50px 0 10px;
  }
}