@media screen and (max-width: 1360px) {
  .container {
    max-width: 1140px;
  }

  .header {
    background-image: url(../img/bg_main1360.webp);
  }

  .explore {
    background-image: url(../img/bg_explore1360.webp);
  }
  .explore .container_explore .explore_wrapper_text {
    max-width: 558px;
  }
  .explore .container_explore .explore_wrapper_img {
    margin: 0 122px;
  }

  .book_apartments {
    background-image: url(../img/bg_1book1360.webp);
  }

  .book_adventure {
    ackground-image: url(../img/bg_2book1360.webp);
  }

  .feedback {
    background-image: url(../img/bg_feedback1360.webp);
  }
  .feedback .container_feedback .feedback_photo {
    min-height: 308px;
  }
  .feedback .container_feedback .feedback_about {
    max-width: 640px;
  }

  .container_steps {
    background-size: 75%;
    background-position-x: 135px;
  }
  .container_steps .step_block {
    margin-right: 220px;
  }

  .book_description {
    max-width: 494px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .container_steps {
    background-position-x: 120px;
  }
  .container_steps .step_block {
    margin-right: 150px;
  }

  .explore .container_explore .explore_wrapper_img {
    margin: 0 24px;
  }
  .explore .container_explore .explore_wrapper_img .explore_img2 {
    max-width: 350px;
    margin-left: 36px;
  }

  .feedback .container_feedback .feedback_about {
    max-width: 510px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 960px;
  }

  .header {
    background-image: url(../img/bg_main1024.webp);
  }

  .explore {
    background-image: url(../img/bg_explore1024.webp);
  }
  .explore .container_explore .explore_wrapper_text {
    max-width: 550px;
  }

  .book_apartments {
    background-image: url(../img/bg_1book1024.webp);
  }

  .book_adventure {
    ackground-image: url(../img/bg_2book1024.webp);
  }

  .feedback {
    background-image: url(../img/bg_feedback1024.webp);
  }
  .feedback .container_feedback .feedback_about {
    max-width: 520px;
  }

  .container_steps {
    background-size: 75%;
    background-position-x: 135px;
  }

  .book_description {
    max-width: 486px;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    max-width: 720px;
  }

  .header {
    background-image: url(../img/bg_main1024.webp);
  }

  .explore {
    background-image: url(../img/bg_explore1024.webp);
  }
  .explore .container_explore {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 60px 0;
  }
  .explore .container_explore .explore_wrapper_img {
    width: 100%;
    max-width: 720px;
    display: flex;
    margin: 0 0 32px;
  }
  .explore .container_explore .explore_wrapper_img .explore_img1 {
    max-width: 350px;
    margin-bottom: 0px;
  }
  .explore .container_explore .explore_wrapper_img .explore_img2 {
    max-width: 350px;
    margin-left: 24px;
  }
  .explore .container_explore .explore_wrapper_text {
    max-width: 558px;
    text-align: center;
    margin: 0 auto;
  }
  .explore .container_explore .explore_wrapper_text .explore_title {
    margin-top: 0;
  }
  .explore .container_explore .explore_wrapper_text .explore_text {
    margin-bottom: 24px;
  }

  .container_steps {
    background-image: none;
    flex-direction: column;
    padding: 60px 0;
  }
  .container_steps .step_block {
    margin: 0 auto 76px;
  }
  .container_steps .step_block:nth-child(3) {
    margin: 0 auto;
  }

  .book_apartments {
    background-image: url(../img/bg_1book1024.webp);
  }
  .book_apartments .container_book .book_wrapper {
    max-width: 720px;
  }
  .book_apartments .container_book .book_wrapper .book_description {
    max-width: 720px;
  }

  .book_adventure {
    background-image: url(../img/bg_2book1024.webp);
  }
  .book_adventure .container_book .book_wrapper {
    max-width: 720px;
  }
  .book_adventure .container_book .book_wrapper .book_description {
    max-width: 720px;
  }

  .feedback {
    background-image: url(../img/bg_feedback1024.webp);
  }
  .feedback .container_feedback {
    padding-top: 60px;
  }
  .feedback .feedback_wrapper {
    flex-direction: column;
  }
  .feedback .feedback_wrapper .feedback_photo, .feedback .feedback_wrapper .feedback_about {
    max-width: 720px;
  }

  .navbar_container {
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
  }
  .navbar_container .nav_logo {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .header {
    background-image: url(../img/bg_main768.webp);
  }

  .explore {
    background-image: url(../img/bg_explore768.webp);
  }
  .explore .container_explore {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 60px 0;
  }
  .explore .container_explore .explore_wrapper_img {
    width: 100%;
    max-width: 720px;
    display: flex;
    margin: 0 0 32px;
  }
  .explore .container_explore .explore_wrapper_img .explore_img1 {
    max-width: 350px;
    margin-bottom: 0px;
  }
  .explore .container_explore .explore_wrapper_img .explore_img2 {
    max-width: 350px;
    margin-left: 24px;
  }
  .explore .container_explore .explore_wrapper_text {
    max-width: 558px;
    text-align: center;
    margin: 0 auto;
  }
  .explore .container_explore .explore_wrapper_text .explore_title {
    margin-top: 0;
  }
  .explore .container_explore .explore_wrapper_text .explore_text {
    margin-bottom: 24px;
  }

  .container_steps {
    background-image: none;
    flex-direction: column;
    padding: 60px 0;
  }
  .container_steps .step_block {
    margin: 0 auto 76px;
  }
  .container_steps .step_block:nth-child(3) {
    margin: 0 auto;
  }

  .book_apartments {
    background-image: url(../img/bg_1book768.webp);
  }
  .book_apartments .container_book .book_wrapper {
    max-width: 720px;
  }
  .book_apartments .container_book .book_wrapper .book_description {
    max-width: 720px;
  }

  .book_adventure {
    background-image: url(../img/bg_2book768.webp);
  }
  .book_adventure .container_book .book_wrapper {
    max-width: 720px;
  }
  .book_adventure .container_book .book_wrapper .book_description {
    max-width: 720px;
  }

  .feedback {
    background-image: url(../img/bg_feedback768.webp);
  }
  .feedback .container_feedback {
    padding-top: 60px;
  }
  .feedback .feedback_wrapper {
    flex-direction: column;
  }
  .feedback .feedback_wrapper .feedback_photo, .feedback .feedback_wrapper .feedback_about {
    max-width: 720px;
  }

  .navbar_container {
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
  }
  .navbar_container .nav_logo {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 740px) {
  .container {
    max-width: 540px;
  }

  .header {
    background-image: url(../img/bg_main576.webp);
  }

  .hamburger {
    display: inline-block;
    width: 42px;
    height: 42px;
    position: relative;
  }
  .hamburger.open {
    position: fixed;
    top: 27px;
    right: 27px;
    z-index: 2;
    margin: 0;
  }
  .hamburger::before, .hamburger::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
  }
  .hamburger::before {
    top: 5px;
    left: 0;
  }
  .hamburger::after {
    top: 35px;
    left: 0;
  }
  .hamburger .h_line {
    top: 20px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
  }

  .navbar_container {
    flex-direction: row;
    justify-content: center;
    transition: all 0.8s ease;
  }
  .navbar_container .nav_logo {
    margin: 0 auto 0 35%;
  }
  .navbar_container .nav_logo.open {
    position: fixed;
    top: 50px;
    margin: 0 auto;
    z-index: 3;
  }

  .nav_list {
    position: fixed;
    background: #5373FD;
    right: -1000px;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 800px;
    flex-direction: column;
    z-index: 2;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.8s ease;
  }
  .nav_list.open {
    width: 100%;
    right: 0;
  }
  .nav_list .nav_item {
    display: inline-block;
    width: 60%;
    padding-bottom: 5px;
    margin: 0 0 19px;
    text-align: center;
    position: relative;
  }
  .nav_list .nav_item:hover {
    transform: scale(1.1);
  }
  .nav_list .nav_item:hover ::after {
    content: "";
    border-bottom: 1px solid #FFFFFF;
    bottom: 10px;
    right: 30%;
    transform: translateX(50%);
    position: absolute;
    justify-content: center;
  }

  .explore {
    background-image: url(../img/bg_explore576.webp);
  }
  .explore .container_explore .explore_wrapper_img .explore_img1 {
    max-width: 258px;
    margin-bottom: 0px;
  }
  .explore .container_explore .explore_wrapper_img .explore_img2 {
    max-width: 258px;
    margin-left: 24px;
  }

  .book_apartments {
    background-image: url(../img/bg_1book576.webp);
  }

  .book_adventure {
    ackground-image: url(../img/bg_2book576.webp);
  }
  .book_adventure .container_book .book_wrapper {
    max-width: 540px;
  }

  .feedback {
    background-image: url(../img/bg_feedback576.webp);
  }

  .form {
    width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 90%;
  }

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .form .input {
    float: inline-end;
  }
  .form .button_form {
    top: 15px;
    position: relative;
    padding: 20px 36px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .navbar_container {
    flex-direction: row;
    justify-content: center;
  }
  .navbar_container .nav_logo {
    margin: 0 auto;
  }

  .explore .container_explore .explore_wrapper_img {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .explore .container_explore .explore_wrapper_img .explore_img1, .explore .container_explore .explore_wrapper_img .explore_img2 {
    max-width: 100%;
    margin: 0 auto;
  }

  .feedback_wrapper .feedback_about {
    padding: 18px 15px;
  }
}