.header {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-image: url(../img/bg_main.webp);
}
.header .container_header {
  padding-top: 295px;
  position: relative;
  text-align: center;
  padding-bottom: 160px;
}

.logo_header {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.slogan {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: capitalize;
  color: #FFFFFF;
  color: #FFFFFF;
  letter-spacing: 0.31em;
  margin: 12px auto 48px;
}

.form {
  display: inline-flex;
  position: relative;
  width: 647px;
  height: 60px;
  margin-bottom: 211px;
}
.form .input {
  width: 100%;
  color: #999999;
  background: #FFFFFF;
  padding: 20px 36px;
  border: none;
  margin: 0;
  box-sizing: border-box;
}
.form .input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: capitalize;
}
.form .button_form {
  display: flex;
  align-items: center;
  position: absolute;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  top: 3px;
  right: 0;
  cursor: pointer;
  border: none;
  padding: 18px 24px 17px;
  margin-right: 2px;
  background: #5373FD;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}
.form .button_form:hover {
  transform: scale(1.1);
}
.form .button_form .search_icon {
  fill: white;
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.scroll {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  text-transform: capitalize;
  position: relative;
}

.arrow, .arrow:before {
  position: absolute;
  right: 50%;
}

.arrow {
  width: 10px;
  height: 10px;
  top: 200%;
  margin: -10px 0 0 -10px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 5px;
  height: 5px;
  top: 50%;
  margin: -5px 0 0 5px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-5px, -5px);
  }
}
.navbar {
  width: 100%;
  background: #5373FD;
}

.navbar_container {
  display: flex;
  padding: 32px 0;
}

.nav_logo {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  justify-content: flex-start;
  transition: 0.5s;
}
.nav_logo:hover {
  transform: scale(1.1);
}

.nav_list {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  float: right;
  align-items: center;
}

.nav_item {
  position: relative;
  margin-right: 40px;
  transition: 0.5s ease;
}
.nav_item:last-child {
  margin-right: 0;
}
.nav_item:hover {
  transform: scale(1.1);
}
.nav_item:hover:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #FFFFFF;
  transform: translateX(50%);
  width: 60%;
  right: 50%;
  bottom: -5px;
}

.hamburger {
  display: inline-block;
  width: 17px;
  margin: auto 0 auto 80px;
}

.hamburger {
  display: none;
  width: 0;
}

.hamburger.open .h_line {
  display: none;
}
.hamburger.open::before {
  transform: rotate(45deg) translate(20px, 15px);
  background-color: #fff;
  transition: all 0.3s ease;
}
.hamburger.open::after {
  transform: rotate(-45deg) translate(6px, -1px);
  background-color: #FFFFFF;
  transition: all 0.3s ease;
}

.explore {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-image: url(../img/bg_explore.webp);
}
.explore .container_explore {
  display: flex;
  padding: 124px 0;
  justify-content: flex-start;
}
.explore .container_explore .explore_wrapper_text {
  max-width: 648px;
  margin: 0;
}
.explore .container_explore .explore_wrapper_text .explore_title {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-top: 66px;
  margin-bottom: 24px;
}
.explore .container_explore .explore_wrapper_img {
  max-width: 424px;
  margin: 0 136px;
}
.explore .container_explore .explore_wrapper_img .explore_img1 {
  max-width: 350px;
  margin-bottom: 16px;
}
.explore .container_explore .explore_wrapper_img .explore_img2 {
  max-width: 350px;
  margin-left: 74px;
}

.explore_text {
  margin-bottom: 32px;
}
.explore_text .text {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.explore_text .text:nth-child(1) {
  padding-bottom: 30px;
}

.button {
  display: inline-block;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  padding: 20px 32px;
  background: #5373FD;
  box-sizing: border-box;
  transition: 0.5s;
}
.button:hover {
  transform: scale(1.1);
}

.steps {
  background: #333333;
}

.container_steps {
  display: flex;
  justify-content: center;
  background-image: url(../img/Line.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position-x: 190px;
  background-position-y: 40px;
  padding: 107px 0 60px;
  z-index: 1;
}
.container_steps .step_block {
  text-align: center;
  margin-right: 280px;
}
.container_steps .step_block:nth-child(3) {
  margin-right: 0;
}
.container_steps .step_icon {
  width: 64px;
  height: 64px;
  background: #333333;
  transition: 0.3s;
  margin-bottom: 20px;
}
.container_steps .search_text {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: center;
}

.step_icon_search {
  fill: #5373FD;
}

.step_icon_circle {
  fill: #e65a78;
}

.step_icon_thumb {
  fill: #4b92df;
}

.book_apartments {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  min-height: 684px;
  background-image: url(../img/bg_1book.webp);
}

.book_adventure {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  min-height: 684px;
  background-image: url(../img/bg_2book.webp);
}

.container_book {
  display: flex;
  padding: 220px 0 120px;
}
.container_book .book_wrapper {
  max-width: 584px;
  padding: 44px 32px;
  background: rgba(35, 35, 35, 0.9);
}

.book_right {
  justify-content: flex-end;
}

.book_country {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.book_place {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.book_description {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding-bottom: 24px;
}

.feedback {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  min-height: 680px;
  background-image: url(../img/bg_feedback.webp);
}

.container_feedback {
  padding: 120px 0 180px;
}

.feedback_title {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 60px;
}

.feedback_wrapper {
  display: flex;
}
.feedback_wrapper .feedback_photo {
  height: 100%;
  max-width: 440px;
}
.feedback_wrapper .feedback_about {
  max-width: 760px;
  background: #333333;
  padding: 48px 65px;
}
.feedback_wrapper .feedback_about .feedback_name {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 16px;
}
.feedback_wrapper .feedback_about .feedback_text {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-align: justify;
}

.icon_quote {
  width: 20px;
  height: 20px;
  fill: #5373FD;
}

.footer {
  background: #000000;
}
.footer .container_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}
.footer .logo_footer {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 8px;
  transition: 0.5s;
}
.footer .logo_footer:hover {
  transform: scale(1.1);
}
.footer .slogan_footer {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  margin-bottom: 22px;
}

.icon {
  fill: #FFFFFF;
  max-width: 32px;
  height: 32px;
  margin-right: 32px;
}
.icon:nth-child(5) {
  margin-right: 0px;
}