.list__item{
    &:hover{
        color: #18B5DC;
    }

}
.button__nav{
    &:hover{
        color: #FFFFFF;
        background-color: #18B5DC;
        border: none;
    }       
}

.icon__twitter, .icon__facebook, .icon__instagram{
    &:hover{
        background-color: #fff;
        color: #000000;
    }
}
.icon__twitter{
    background-image: url(../img/twitter.svg);
}

.item__twitter, .item__facebook, .item__instagram, .item__linkedin, .item__telegram{
    &:hover{
        background-color: #18B5DC;
        width: 22px;
        height: 22px;
        padding: 9px;
    }
}
// .item__twitter:hover{
//     background-image: url(../img/twitter_white.svg);
// }
// .item__facebook{
//     background-image: url(../img/facebook_white.svg);
// }