body{
    position: relative;
    width: 1440px;
    height: 4521px;
    background: #FFFFFF;
    font-family: Open;
    font-weight: 400;
    font-size: 18px;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 120px;
    isolation: isolate;
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 0px;
}
nav{
    display: flex;
    font-size: ;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 496px;
    height: 27.5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}
.line{
    border: 1px solid;
    position: absolute;
    width: 970px;
    height: 0px;
    left: 235px;
    bottom: 0px;
    border: 1px solid #828282;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}
.first-screen{
display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
    position: absolute;
    width: 970px;
    height: 497px;
    left: 235px;
    top: 92px;
}
#name{
    width: 700px;
    height: 60px;
    padding: 92px 905px 4369px 235px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #070707;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#portrait{
    width: 970px;
        height: 387px;
        background: url(valentin-salja-1058467-unsplash.jpg);
        flex: none;
        order: 1;
        flex-grow: 0;
}
.about-me{
    display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 480px;
        gap: 50px;
        isolation: isolate;
    
        position: absolute;
        width: 970px;
        height: 500px;
        left: 235px;
        top: 589px;
    
        /* bg-gray */
    
        background: #F6F6F6;
}