body{
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* .screen{
    background-image: url(./img/2223.jpg);
    background-color: rgba(red, green, rgba(0, 0, 255, 0.1), alpha);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */
h1{
    color: rgb(21, 21, 119);
    font-size: 40;
    text-align: center;
}
.account{
    text-align: right;
}
.filter {
    font-weight: bolder;
}
.gender{
    margin-left: 700px;
    word-spacing: 40px;
    color: blue;
    text-transform: uppercase;
    font-size: large;
}
