body{
    color: blue;
    background-color: rgb(245, 241, 241);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: rgb(21, 21, 119);
    font-size: 40;
    text-align: center;
}
.account{
    text-align: right;
}
.filter {
    font-weight: bolder;
}
.gender{
    margin-left: 700px;
    word-spacing: 40px;
    color: blue;
    text-transform: uppercase;
    font-size: large;
}