body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 100%;
  background: #FFFFFF;
  position: relative;
  height: 100%;
}

.grid {
  position: absolute;
  width: 100%;
  max-width: 640px;
  height: 90%;
  transition: all 0.8s ease;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bg_image, .letter {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
}

.grid:hover {
  transform: rotateY(180deg);
}
.grid:hover .letter.flipped {
  animation: randomLetter 1000ms steps(26, end) infinite;
  transform: rotateY(180deg);
  transition: all 0.8s ease;
}

@keyframes randomLetter {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}