@media screen and (max-width: 1500px) {
  .container {
    max-width: 1200px;
  }

  .bg_image {
    max-width: 700px;
  }
  .press_item {
    max-width: 350px;
    padding-right: 20px;
  }
  .press_photo {
    width: 350px;
  }
  .press_description{
    max-width: 350px;
  }
  .press_text {
    font-size: 28px;
  }
  .arrow_left {
  }
}
