@media screen and (max-width: 1266px){
    .container{
        padding-top: 100px;
    }
    .title{
        margin-bottom: 60px;
    }
    .block_about{
        width: 90%;
        justify-content: center;
    }

    .photo_block{
        grid-gap: 20px;
    }
}

@media screen and (max-width: 768px){
    .container{
        padding-top: 80px;
    }
    .title{
        font-size: 30px;
        margin-bottom: 40px;
    }
    .block_about{
        width: 90%;
        justify-content: center;
    }
    .photo_block{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}