.container{
    width: 100%;
    position: relative;
}

.header{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    background: transparent;
    position: relative;
}

.flex_row{
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.container_violet{
    background: #E7E5FF;
    z-index: -2;
}

