.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  background: #404556;
}

/* Light bulb */
.light_bulb {
  display: inline-block;
  width: 400px;
  height: 400px;
}

.bulb {
  position: absolute;
  top: 96px;
  left: 158px;
  width: 100px;
  height: 100px;
  z-index: 1;
  cursor: pointer;
}

.base {
  position: absolute;
  width: 76px;
  height: 100px;
  top: 95px;
  left: 170px;
  transition: all 0.5s ease-in-out;
}

.glow {
  position: absolute;
  width: 56px;
  height: 56px;
  background: #fff35c;
  border-radius: 50px;
  box-shadow: 0 0 70px 10px #fff35c;
  top: 97px;
  left: 180px;
  transition: all 0.5s ease;
}

.bulb:hover ~ .base {
  opacity: 0;
}

.bulb:hover ~ .glow {
  opacity: 0;
}

/* Burger menu */
.burger_menu {
  display: inline-block;
  position: absolute;
  width: 400px;
  height: 400px;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu_icon {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 26px;
  top: 187px;
  left: 175px;
  color: #fff;
  cursor: pointer;
}
.menu_icon .line-top, .menu_icon .line-bottom {
  position: absolute;
  width: 50px;
  height: 4px;
  top: 0;
  left: 0;
  background: #fff;
  animation: line-top-close 1s ease both;
}
.menu_icon .line-bottom {
  top: initial;
  bottom: 0;
  animation: line-bottom-close 1s ease both;
}