/* LIGHT BULB block */
.light_bulb {
  position: relative;
}

.bulb {
  position: absolute;
  top: 136px;
  left: 158px;
  width: 100px;
  height: 100px;
  z-index: 1;
  cursor: pointer;
}

.base {
  position: absolute;
  width: 76px;
  height: 100px;
  top: 135px;
  left: 170px;
  transition: all 0.5s ease-in-out;
}

.glow {
  position: absolute;
  width: 56px;
  height: 56px;
  background: #fff35c;
  border-radius: 50px;
  box-shadow: 0 0 70px 10px #fff35c;
  top: 137px;
  left: 180px;
  transition: all 0.5s ease;
}

.bulb:hover ~ .base {
  opacity: 0;
}

.bulb:hover ~ .glow {
  opacity: 0;
}

/* BURGER_MENU - NAVBAR block */
.burger_menu {
  position: relative;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu_icon {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 28px;
  top: 187px;
  left: 175px;
  color: #b20d0d;
  cursor: pointer;
}
.menu_icon .line_top, .menu_icon .line_bottom, .menu_icon .line_middle {
  position: absolute;
  width: 50px;
  height: 3px;
  top: 0;
  left: 0;
  background: #fff;
  animation: line_top_close 1s ease both;
}
.menu_icon .line_middle {
  top: 13px;
  bottom: 0;
  animation: line_bottom_close 1s ease both;
}
.menu_icon .line_bottom {
  top: initial;
  bottom: 0;
  animation: line_bottom_close 1s ease both;
}
.menu_icon.active {
  pointer-events: none;
}
.menu_icon.active .line_top, .menu_icon.active .line_middle, .menu_icon.active .line_bottom {
  animation: line_top_open 1s ease both;
}
.menu_icon.active .line_middle {
  animation: line_middle_open 1s ease both;
}
.menu_icon.active .line_bottom {
  animation: line_bottom_open 1s ease both;
}
.menu_icon.paused .line_top,
.menu_icon.paused .line_middle,
.menu_icon.paused .line_bottom {
  animation: none;
}

.menu_navbar {
  position: absolute;
  width: 300px;
  height: 20px;
  top: 190px;
  left: 50px;
  padding: 0 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
.menu_navbar.active {
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s ease-in-out 0.5s;
}
.menu_navbar ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  width: 280px;
  margin: 0;
  padding: 0;
}
.menu_navbar ul li {
  position: relative;
  display: block;
  flex: 0 1 auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menu_navbar ul li:hover {
  opacity: 0.6;
}

.share .toggle {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff;
  color: #333;
  border-radius: 50%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  transition: 1.25s;
  z-index: 1;
}

.share.active .toggle {
  transform: rotate(360deg);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px #333, 0 0 0 8px #fff;
}

.share ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share ul li {
  position: absolute;
  left: 0;
  list-style: none;
  transform: rotate(calc(360deg/8 * var(--i)));
  transform-origin: 140px;
  scale: 0;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
}

.share.active ul li {
  scale: 1;
}

.share ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(calc(360deg/-8 * var(--i)));
  width: 60px;
  height: 60px;
  background: #fff;
  color: var(--color);
  border-radius: 50%;
  font-size: 1.75rem;
  transition: 0.5s;
  cursor: pointer;
}

.menu ul li:hover a {
  font-size: 2.25rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px var(--color), 0 0 0 8px #fff;
}