/* Light bulb */

.light_bulb {
  position: relative;
}
.bulb {
  position: absolute;
  top: 136px;
  left: 158px;
  width: 100px;
  height: 100px;
  z-index: 1;
  cursor: pointer;
}

.base {
  position: absolute;
  width: 76px;
  height: 100px;
  top: 135px;
  left: 170px;
  transition: all 0.5s ease-in-out;
}

.glow {
  position: absolute;
  width: 56px;
  height: 56px;
  background: #fff35c;
  border-radius: 50px;
  box-shadow: 0 0 70px 10px #fff35c;
  top: 137px;
  left: 180px;
  transition: all 0.5s ease;
}

.bulb:hover ~ .base {
  opacity: 0;
}

.bulb:hover ~ .glow {
  opacity: 0;
}

/* Burger menu */

.burger_menu {
  position: relative;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu_icon {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 28px;
  top: 187px;
  left: 175px;
  color: rgb(178, 13, 13);
  cursor: pointer;
  .line_top {
    position: absolute;
    width: 50px;
    height: 3px;
    top: 0;
    left: 0;
    background: #fff;
    animation: line_top_close 1s ease both;
  }

  .line_middle {
    @extend .line_top;
    top: 13px;
    bottom: 0;
    animation: line_bottom_close 1s ease both;
  }

  .line_bottom {
    @extend .line_top;
    top: initial;
    bottom: 0;
    animation: line_bottom_close 1s ease both;
  }

  &.active {
    pointer-events: none;

    .line_top {
      animation: line_top_open 1s ease both;
    }

    .line_middle {
      animation: line_middle_open 1s ease both;
    }

    .line_bottom {
      animation: line_bottom_open 1s ease both;
    }
  }

  &.paused {
    .line_top,
    .line_middle,
    .line_bottom {
      animation: none;
    }
  }
}

.menu_navbar {
  position: absolute;
  width: 300px;
  height: 20px;
  top: 190px;
  left: 50px;
  padding: 0 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: all;
    transition: all 0.5s ease-in-out 0.5s;
  }

  ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    width: 280px;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      display: block;
      flex: 0 1 auto;
      margin: 0;
      padding: 0;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.share_links {
  position:absolute;

}
