body {
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif;
}

/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Lato/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/Lato/lato-v23-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Lato/lato-v23-latin-700.woff2") format("woff2"), url("../fonts/Lato/lato-v23-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-display-regular - latin */
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Red Hat Display/red-hat-display-v13-latin-regular.woff2") format("woff2"), url("../fonts/Red Hat Display/red-hat-display-v13-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-display-500 - latin */
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/Red Hat Display/red-hat-display-v13-latin-500.woff2") format("woff2"), url("../fonts/Red Hat Display/red-hat-display-v13-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-display-600 - latin */
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/Red Hat Display/red-hat-display-v13-latin-600.woff2") format("woff2"), url("../fonts/Red Hat Display/red-hat-display-v13-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

p, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

.title {
  width: 100%;
  background: #FFFFFF;
  padding-top: 100px;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.footer {
  width: 100%;
  background: #F4F4F4;
}

.container_footer {
  width: 90%;
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px 0 25px;
}

.flex_row {
  display: flex;
  justify-content: space-between;
}

.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  padding: 38px 0;
}

.logo {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5em;
  color: #000000;
  text-transform: uppercase;
  margin: auto 0;
}

.hamburger {
  display: block;
}

.nav_block ul {
  column-gap: 40px;
  margin: auto 0;
}

.search_link, .hamburger {
  display: inline-block;
  width: 17px;
  margin: auto 0 auto 80px;
}

.hamburger.open .h_line {
  display: none;
}
.hamburger.open::before {
  transform: rotate(45deg) translate(20px, 15px);
  background-color: #000000;
}
.hamburger.open::after {
  transform: rotate(-45deg) translate(6px, -1px);
  background-color: #000000;
}

.nav_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
}
.nav_link:hover ::after {
  content: "";
  width: 10%;
  border-bottom: 1px solid #000000;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
  position: absolute;
  justify-content: center;
}

.main_title {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
  margin: 90px 0 70px;
}

.main_img {
  width: 100%;
  margin-bottom: 90px;
}

.image_block {
  width: 100%;
  height: 100%;
}

.title_block {
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 50px;
}

.text_block {
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
  margin-bottom: 90px;
  width: 100%;
}

.image_block {
  width: 100%;
  margin-bottom: 20px;
}

.text_part {
  width: 50%;
}

.text_first {
  padding-bottom: 30px;
}

.footer_title {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
  font-weight: 400;
  margin-bottom: 30px;
}

.footer_label {
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  margin-bottom: 15px;
}

.footer_social_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  margin: 0;
}

.icon-instagram, .icon-facebook, .icon-twitter, .icon-linkedin2 {
  padding: 14px;
  border: 1px solid #565656;
  color: #565656;
}
.icon-instagram:hover, .icon-facebook:hover, .icon-twitter:hover, .icon-linkedin2:hover {
  background: #565656;
  color: #fff;
}

.copyright {
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.nav_link {
  position: relative;
}
.nav_link:hover ::after {
  content: "";
  width: 70%;
  border-bottom: 1px solid #000000;
  bottom: -5px;
  right: 50%;
  transform: translateX(50%);
  position: absolute;
  justify-content: center;
}

@media screen and (max-width: 1300px) {
  .text_part {
    width: 100%;
  }

  .search_link {
    width: 30px;
    margin-left: 0;
    padding-top: 7px;
  }

  .hamburger {
    position: relative;
    z-index: 2;
  }

  .hamburger {
    display: inline-block;
    width: 42px;
    height: 42px;
    position: relative;
  }
  .hamburger::before, .hamburger::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
  }
  .hamburger::before {
    top: 5px;
    left: 0;
  }
  .hamburger::after {
    top: 35px;
    left: 0;
  }
  .hamburger .h_line {
    top: 20px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
  }

  .nav_list {
    position: fixed;
    background: #FFFFFF;
    right: -1000px;
    top: 0;
    bottom: 0;
    width: 75%;
    max-width: 600px;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.8s ease;
  }
  .nav_list.open {
    right: 0;
  }
  .nav_list .nav_link {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-weight: 600;
    position: relative;
  }
  .nav_list .nav_link:hover ::after {
    content: "";
    width: 10%;
    border-bottom: 1px solid #000000;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    position: absolute;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }

  .header {
    padding: 18px 0;
  }

  .nav_list {
    width: 100%;
  }

  .main_title {
    font-size: 33px;
    line-height: 50px;
    margin: 50px 0 50px;
  }

  .text_block {
    margin-bottom: 70px;
  }

  .container_footer {
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
  }

  .footer_contacts {
    margin: 0 auto;
  }

  .footer_title {
    margin-bottom: 20px;
  }

  .footer_label {
    display: flex;
    justify-content: center;
  }

  .copyright {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .main_title {
    font-size: 30px;
    line-height: 50px;
    margin: 0 0 50px;
  }

  .title_block {
    font-size: 26px;
  }

  .text_about {
    font-size: 16px;
  }

  .footer_title {
    font-size: 32px;
    line-height: 42px;
  }

  .footer_label {
    font-size: 18px;
  }

  .copyright {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
}