.header {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
}

html {
  scroll-behavior: smooth;
}

.navigation {
  position: relative;
  padding-top: 53px;
  display: flex;
  margin-bottom: 223px;
  scroll-behavior: smooth;
}

.logo a {
  max-width: 241px;
  cursor: pointer;
}

.nav_list {
  display: flex;
  gap: 70px;
}

.nav_link {
  position: relative;
  font-family: "Source_Sans_Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.social_links {
  display: flex;
  gap: 20px;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  margin-right: 14px;
}

.icon {
  content: "";
  position: relative;
  cursor: pointer;
  height: 38px;
  width: 38px;
  top: 0;
  right: 0;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  transition: 0.5s;
}

.heading_wrapper {
  margin-bottom: 240px;
  text-align: center;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.slogan {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.slick-dots {
  margin-right: 52px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  position: absolute;
  bottom: 50%;
  right: 0%;
}

.slick-dots button {
  font-size: 0;
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid #FFFFFF;
  background-color: transparent;
}

.slick-dots li.slick-active button {
  background-color: #FFFFFF;
}

.arrow {
  position: relative;
  left: 50%;
  top: 50%;
  border: solid #FFFFFF;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 50px;
  transition: 0.5s;
}
.arrow:hover {
  transform: scale(1.2) rotate(-315deg);
}

.project_section {
  height: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.title_section {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 130px 0 147px;
}

.trade_block {
  width: 100%;
  display: flex;
  gap: 70px;
  margin-bottom: 177px;
}

.bg_blue {
  position: absolute;
  background: #55B7FF;
  width: 585px;
  height: 470px;
  z-index: -1;
  transform: translate(-260px, -57px);
}

.img_trade {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 630px;
  z-index: 1;
}

.text_project {
  margin-top: 94px;
}

.text_article {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  text-transform: uppercase;
}

.title_project {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 19px;
  text-align: left;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  margin-bottom: 56px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px 41px;
  border: 1px solid #2C4058;
  transition: 0.5s;
}

.destination {
  display: flex;
  align-items: center;
  margin-top: 79px;
}

.icon-marker {
  color: #2C4058;
  width: 9px;
  height: 17px;
  margin-right: 10px;
}

.city {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.commerce_block {
  width: 100%;
  display: flex;
  gap: 64px;
  margin-bottom: 150px;
}

.commerce_block .text_project {
  max-width: 476px;
}

.bg_violet {
  position: absolute;
  background: #7E5AFF;
  width: 585px;
  height: 470px;
  z-index: -1;
  transform: translate(260px, -57px);
}

.news_section {
  position: relative;
  background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
}

.news_section .title_section {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 auto;
  color: #FFFFFF;
  padding-top: 150px;
  margin-bottom: 90px;
}

.news_wrapper {
  max-width: 1370px;
  display: flex;
  padding-bottom: 170px;
}

.card {
  max-width: 370px;
  background-color: #FFFFFF;
  margin-right: 30px;
}

.slick-list .news_wrapper {
  width: 1170px;
}

.slick-prev {
  background: transparent;
  border: none;
  padding-right: 60px;
}

.slick-next {
  background: transparent;
  border: none;
  padding-left: 60px;
}

.card_about {
  max-width: 330px;
  margin: 30px 20px;
}

.title_card {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

.text_card {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  line-height: 25px;
  margin-bottom: 39px;
}

.person_block {
  display: flex;
  justify-content: left;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  text-transform: uppercase;
  color: #2C4058;
  letter-spacing: 0;
  margin-bottom: 6px;
}

.date {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  color: #55B7FF;
}

.news_wrapper .slick-dots {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  position: absolute;
  bottom: 0%;
  right: 50%;
  margin-bottom: 120px;
}

.gallery_section .title_section {
  padding-top: 50px;
  margin-bottom: 90px;
}

.gallery_wrapper {
  text-align: center;
}

.img_gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 50%);
  max-height: 438px;
  margin-bottom: 80px;
}

.img_grid:nth-child(1) {
  grid-row: 1/3;
  grid-column: 1/3;
}

.btn_gallery {
  margin-bottom: 150px;
  display: inline-block;
  box-sizing: border-box;
}

.map_section {
  position: absolute;
  max-width: 1000px;
  max-height: 1280px;
  z-index: 2;
}

#map {
  width: 100%;
  min-width: 800px;
  max-height: 1280px;
}

.contact_section {
  position: relative;
  right: 0;
  top: 10%;
  z-index: 3;
}

.contact_block {
  position: relative;
  background: transparent;
  top: 50%;
  width: 100%;
  width: 770px;
  height: 360px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0;
  text-transform: capitalize;
}

.modal_wrapper {
  position: relative;
  background-color: #FFFFFF;
  padding: 90px 60px 68px;
}

.contact_block .title_section {
  margin-top: 0;
  margin-bottom: 42px;
}

.modal_window {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact_wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.address .icon-marker {
  color: #7E5AFF;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
}

.group {
  width: 310px;
  position: relative;
  margin-bottom: 33px;
}

input {
  padding: 10px 0 10px 0;
  display: block;
  width: 310px;
  border: none;
  border-bottom: 1px solid #2C4058;
}

input:focus {
  outline: none;
}

label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  text-transform: uppercase;
  text-transform: capitalize;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #2C4058;
}

.bar {
  position: relative;
  display: block;
  width: 310px;
}

.bar:before, .bar:after {
  content: "";
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #2C4058;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
  background: #4B5562;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS */
@-webkit-keyframes inputHighlighter {
  from {
    background: #000000;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #000000;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #000000;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.btn_form {
  max-width: 72px;
  float: right;
}

.footer {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  background: linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
}

.nav_footer {
  max-width: 770px;
  padding-top: 203px;
  padding-bottom: 234px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo_footer {
  max-width: 241px;
}

.logo_footer .logo {
  margin-bottom: 41px;
}

.copyright {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  text-transform: capitalize;
  color: #FFFFFF;
}