@charset "UTF-8";
.nav_link:before {
  content: "";
  max-width: 4px;
  max-height: 4px;
  border: 1px solid #FFFFFF;
  color: transparent;
  border-radius: 50%;
  padding-right: 15px;
  margin-right: 10px;
}

.icon-facebook:before {
  content: "";
  width: 10px;
  height: 18px;
}

.icon-instagram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}