.header::before{
    @include bg_image;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../img/header_mask.png);
}
.nav_link:active{
    .dot{
        background-color: #FFFFFF;
    }
}

.icon{
    &::before{
        position: absolute;
        top: 30%;
        right: 25%;
    }
    &:hover{
        transform: scale(0.8);
    }
}
.icon-facebook{
    &::before{
        position: absolute;
        top: 30%;
        right: 35%;
    }
}

.arrow{
    &::before{
        position: absolute;
        content: "";
        top: -15px;
        left: -14px;
        display: inline-block;
        border-radius: 50%;
        padding: 19px;
        border: 1px solid #FFFFFF;
        background-color: transparent;
    }
}

.title_section::before{
    content: "";
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    border: 1px solid #2C4058;
    background: #000;
}

.btn{
    &:hover{
        transform: scale(1.1);
    }
}
.news_section::before{
    content: '';
    @include bg_image;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../img/news_mask.png);
    margin-top: 388px;
}
.news_section .title_section::before{
    content: "";
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    border: 1px solid #FFFFFF;
}

.contact_block::before{
    @include bg_image;
    content: '';
    position: absolute;
    top: 200px;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../img/modal_mask.png);
}

.footer::before{
    @include bg_image;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../img/footer_mask.png);
}