@charset "UTF-8";
/* source-sans-pro-regular - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Source_Sans_Pro/source-sans-pro-v21-latin-regular.woff2") format("woff2"), url("../fonts/Source_Sans_Pro/source-sans-pro-v21-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Source_Sans_Pro/source-sans-pro-v21-latin-700.woff2") format("woff2"), url("../fonts/Source_Sans_Pro/source-sans-pro-v21-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Montserrat/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/Montserrat/montserrat-v25-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Montserrat/montserrat-v25-latin-700.woff2") format("woff2"), url("../fonts/Montserrat/montserrat-v25-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Open_Sans/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/Open_Sans/open-sans-v34-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "";
  color: #fff;
}

.icon-instagram:before {
  content: "";
  color: #fff;
}

.icon-marker:before {
  content: "";
  color: #2c4058;
}

.icon-twitter:before {
  content: "";
  color: #fff;
}

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

p, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex_row {
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.header {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-image: url(../img/Background.jpg);
}

.navigation {
  padding-top: 53px;
  display: flex;
  margin-bottom: 223px;
}

.logo {
  max-width: 241px;
}

.nav_list {
  display: flex;
  gap: 70px;
}

.nav_link {
  font-family: "Source_Sans_Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.icon {
  width: 40px;
  height: 40px;
  gap: 20px;
  padding: 11px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.slick-dots {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  position: absolute;
  bottom: 50px;
  right: 45%;
}

.nav_link:before {
  content: "";
  max-width: 4px;
  max-height: 4px;
  border: 1px solid #FFFFFF;
  color: transparent;
  border-radius: 50%;
  padding-right: 15px;
  margin-right: 10px;
}

.icon-facebook:before {
  content: "";
  width: 10px;
  height: 18px;
}

.icon-instagram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}