.bg_image {
  animation-timing-function: cubic-bezier(0, 0, 0.1, 1);
  animation: top_jump 1.5s 1;
}
.bg_image::after {
  animation-timing-function: cubic-bezier(1, 1, 1, 1);
}

.bg_analytics, .bg_features1 {
  animation: rise 0.8s 1;
}

.bg_features3 {
  animation: rise_pause 1.5s 1;
}

.bg_features2 {
  animation: rise_pause 0.9s 1;
}

.img_bubles {
  animation-timing-function: cubic-bezier(0, 0, 0.1, 1);
  animation: rise_right 1s 1;
}
.img_bubles::after {
  animation-timing-function: cubic-bezier(1, 1, 1, 1);
}

.buble_img {
  animation: move_bubles 1s 1;
}

.img_reuse {
  animation: rise_left 1.5s 1;
}

.bg_price1, .bg_contact1 {
  animation: shake_1 0.5s;
}

.bg_price2, .bg_contact2 {
  animation: shake_2 1s;
}

.bg_feedback {
  animation: move_right 1.2s 1;
}

.bg_feedback_pink, .bg_footer {
  animation-timing-function: cubic-bezier(0, 0, 0.1, 1);
  animation: up_jump 1.5s 1;
}
.bg_feedback_pink::after, .bg_footer::after {
  animation-timing-function: cubic-bezier(1, 1, 1, 1);
}

@keyframes top_jump {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes rise {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rise_pause {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rise_right {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes move_bubles {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes rise_left {
  0% {
    transform: scale(0.1) translateX(100%);
  }
  100% {
    transform: scale(1) translateX(0%);
  }
}
@keyframes move_right {
  0% {
    transform: scale(0) translateX(-100%);
  }
  100% {
    transform: scale(1) translateX(0%);
  }
}
@keyframes shake_1 {
  10% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translate(-5px, 0px) rotate(10deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-10deg);
  }
  60% {
    transform: translate(-5px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(10deg);
  }
  100% {
    transform: translate(1px, -4px) rotate(-10deg);
  }
}
@keyframes shake_2 {
  0% {
    transform: translateY(-100%) translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translateY(-50%) translate(-5px, 0px) rotate(-10deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(10deg);
  }
  60% {
    transform: translate(-5px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(-1px, -1px) rotate(-10deg);
  }
  100% {
    transform: translateY(0%) translate(1px, -4px) rotate(10deg);
  }
}
@keyframes up_jump {
  0% {
    transform: scale(0.5) translateY(100%) translateX(100%);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(10%) translateX(10%);
  }
  100% {
    transform: scale(1) translateY(0%);
  }
}