body{
    background-color: rgb(255, 255, 255);
    height: 30px;
}
.photoCV{
    display: block;
    margin: 0 40px 40px 40px;
    float: right;
}
h1{
    color: rgb(33, 33, 39);
}
span{
    color: rgb(33, 33, 39);
}